body {
    background-color: #292B2C;
    color: white;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: #292B2C;
    border: 1px solid grey;
    border-radius: 5px;
}